<% content_for :header_text do %>
  <%= @data[:yoga_class_name] %> at <%= @data[:yoga_studio_name] %>
<% end %>

<div id="disqus_thread" style='width:90%;margin-left:auto;margin-right:auto;margin-top:50px'></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
    var disqus_shortname = 'yogadiscovery';
    var disqus_identifier = '<%= @data[:url] %>';
    var disqus_title = '<%= @data[:url] %>';
    var disqus_url = '<%= @data[:url] %>';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<script>
$(function(){
  $(".studiosList").delegate('tr','click', function(e){
    var url = document.location.href;
    document.location.href = url + "/" + $(e.target).parent().find('td:first').data('id');
  });
});
</script>