<% content_for :navigation do %>

<% end %>

<div style="position:relative;background:none;opacity:0.9;height:450px;" class="well">

  <div class="map" id="mapCanvas"></div>
  
  <div id="studiosList">
      <div class="well" id='cityCountHeader'>
        <h2><%= @studios.count %> <%= @studios.count > 1 ? 'Studios' : 'Studio' %> near
          <select id='citySelector'>
            <option value='<%= @city.keys[0] %>'><%= @city[:name] %></option>
            
            <% @other_cities.each do |key,val| %>
              <option value='<%= key %>'><%= val[:name] %></  option>
            <% end %>
          </select>
        </h2>
      </div>
    <div class='studiosList' style="overflow-y:scroll">
      <table class="table table-striped" >

        <% if @studios.present? && !@studios.empty? %>   
          <% @studios.each do |studio| %>
            <tr class='studioRow' data-latitude="<%= studio['latitude'] %>" data-longitude="<%= studio['longitude'] %>"> 
              <td class='studioName' data-id="<%= studio['id']%>" style='padding:15px;'><%= truncate(studio['name'], length: 25) %></td>
              <td style='padding:1.3em;'><%= studio['distance'].to_f.round(2) %> miles</td>
            </tr>
          <% end %>
        <% else %>
        <tr> 
          Sorry there are no studios in that area
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>

<script>
  $(function(){
    $("input#locationSearch").on('focus',function(){
      addLocationSearchHandler();
    });

    $("input#locationSearch").on('blur',function(){
      removeLocationSearchHandler();
    });

    function addLocationSearchHandler(){
      $("input#locationSearch").on('keyup',function(event){
        if (event.which == '13') {
          var location = $("input#locationSearch").val().toLowerCase();
          location = location.split(' ').join('-');
          document.location.href = '/studios-near/' + location;
        }        
      });
    }

    function removeLocationSearchHandler(){
      $("input#locationSearch").off('keyup');
    }
  });
</script>