<% content_for :header_text do %>
  <%= @studios.count %> <%= @studios.count > 1 ? 'Studios' : 'Studio' %> near
    <select id='citySelector'>
      <option value='<%= @city.keys[0] %>'><%= @city[:name] %></option>
      
      <% @other_cities.each do |key,val| %>
        <option value='<%= key %>'><%= val[:name] %></  option>
      <% end %>
    </select>
<% end %>

<div style="position:relative;background:none;opacity:0.9;height:450px;padding:0px;" class="well">
  
    <div class='studiosList' style="overflow-y:scroll">
      <table class="table" >

        <% if @studios.present? && !@studios.empty? %>   
          <% @studios.each do |studio| %>
            <tr class='studioRow' data-latitude="<%= studio['latitude'] %>" data-longitude="<%= studio['longitude'] %>"> 
              <td class='studioName' data-id="<%= studio['id']%>" style='padding:15px;'><%= truncate(studio['name'], length: 25) %></td>
              <td style='padding:1.3em;'><%= studio['distance'].to_f.round(2) %> miles</td>
            </tr>
          <% end %>
        <% else %>
        <tr> 
          Sorry there are no studios in that area
        </tr>
        <% end %>
      </table>
    </div>

</div>

<script>
  $(function(){
    $(".studiosList").delegate('tr','click', function(e){
      var url = document.location.href;
      document.location.href = url + "/" + $(e.target).parent().find('td:first').data('id');
    });

    function loadCity(city){
      var url = '/studios-near/' + city;
      $.get(url, function(html){
        var $dom = $(html);
        $("#cityCountHeader").html($dom.find("#cityCountHeader").html());
        $(".studiosList").html($dom.find(".studiosList").html());
      });
      document.history.pushState(url,null,url);
    }

    $("#citySelector").live('change', function(){
       loadCity($(this).val());
    });
  });
</script>