<% content_for :navigation do %>

<% end %>

<div style="position:relative;background:none;opacity:0.9;height:450px;" class="well">

  <div class="map" id="mapCanvas"></div>
  
  <div id="studiosList">
      <div class="well" id='cityCountHeader'>
        <h2><%= @yoga_classes.count %> <%= @yoga_classes.count > 1 ? 'Classes' : 'Class' %>
          today at <%= @yoga_studio['name'] %>
        </h2>
      </div>
    <div class='studiosList' style="overflow-y:scroll">
      <table class="table table-striped" >

        <% if @yoga_classes.present? && !@yoga_classes.empty? %>   
          <% @yoga_classes.each do |yoga_class| %>
            <tr class='studioRow'> 
              <td class='studioName' style='padding:15px;'><%= yoga_class['name'] %></td>
              <td style='padding:1.3em;'><%= Time.parse(yoga_class['start_time']).strftime("%l:%M %P") %> - <%= (Time.parse(yoga_class['start_time']) + yoga_class['duration'].minutes).strftime("%l:%M %P") %></td>
            </tr>
          <% end %>
        <% else %>
        <tr> 
          Sorry there are no studios in that area
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>

  function panToLocation(latitude,longitude) {
    window.map.panTo(new google.maps.LatLng(latitude, longitude));
  }

  window.buildStudios = function() {
    var studios = JSON.parse('<%= @yoga_classes.to_json.html_safe %>');
  
    return studios;
  }

  function initialize() {

    var latitude = <%= @yoga_classes.first.try(:[], 'latitude') %>
    var longitude = <%= @yoga_classes.first.try(:[], 'longitude') %>

    var mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(latitude, longitude),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    window.map = new google.maps.Map(document.getElementById('mapCanvas'),
        mapOptions);

    window.mapMarkers = [];
    $.each(buildStudios(), function(i, studio) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(studio.latitude, studio.longitude),
        map: window.map,
        title: studio.name
      });

      window.mapMarkers.push(marker);
      marker.id = studio.id
    });
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script>
  $(function(){
    $("input#locationSearch").on('focus',function(){
      addLocationSearchHandler();
    });

    $("input#locationSearch").on('blur',function(){
      removeLocationSearchHandler();
    });

    function addLocationSearchHandler(){
      $("input#locationSearch").on('keyup',function(event){
        if (event.which == '13') {
          var location = $("input#locationSearch").val().toLowerCase();
          location = location.split(' ').join('-');
          document.location.href = '/studios-near/' + location;
        }        
      });
    }

    function removeLocationSearchHandler(){
      $("input#locationSearch").off('keyup');
    }
  });
</script>