<% content_for :header_text do %>
  <%= @yoga_classes.count %> <%= @yoga_classes.count > 1 ? 'Classes' : 'Class' %>
          today at <%= @yoga_studio['name'] %>
<% end %>

<div style="position:relative;background:none;opacity:0.9;height:450px;" class="well">

  
  <div id="studiosList">
      <div class="well" id='cityCountHeader'>
        <h2>
        </h2>
      </div>
    <div class='studiosList' style="overflow-y:scroll">
      <table class="table" >

        <% if @yoga_classes.present? && !@yoga_classes.empty? %>   
          <% @yoga_classes.each do |yoga_class| %>
            <tr class='studioRow'> 
              <td class='studioName' style='padding:15px;'>
                <a href='/studios/<%= @yoga_studio["id"] %>/classes/<%= yoga_class["id"] %>'>
                  <%= yoga_class['name'] %>
                </a>
              </td>
              <td style='padding:1.3em;'><%= Time.parse(yoga_class['start_time']).strftime("%l:%M %P") %> - <%= (Time.parse(yoga_class['start_time']) + yoga_class['duration'].minutes).strftime("%l:%M %P") %>
              </td>
            </tr>
          <% end %>
        <% else %>
        <tr>
          <td style='text-align:center; padding:1em;'>
            We have recorded no classes for today at this studio.
          </td>
          
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>