<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="A crowd-sourced catalog of yoga studios">
<title>Yoga Discovery Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<style>

</style>

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="home">
   
  <div class="container" id="container">
      <div class="well" id='header' style=''>
        <h2><%= yield :header_text %></h2>
      </div>
    	<div class='mainContent'>
        <%= yield %>
      </div>
      <nav class='footerNav' style='background-color: #ddd; border-top:1px solid #aaa; position:fixed;bottom:0px;height:40px;left:0px;right:0px;'>
        <a href='/yoga-studios/nearby' class='pull-left' style='padding:10px 30px; font-size:150%'>Nearby</a>
        <a href='/yoga-classes/upcoming' class='pull-right' style='padding:10px 30px; font-size:150%'>Upcoming</a>
      </nav>
  </div>
  
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <%= render "layouts/google_analytics" %>
</body>
</html>
