<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="A crowd-sourced catalog of yoga studios">
<title>Yoga Discovery Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<style>

.container { 
  margin-left:auto;
  margin-right:auto;
}

</style>

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="home" data-spy="scroll">
<!-- set fix background for ie8 and below-->
<!--[if lt IE 9]>
<img class="bg" src="img/bg_1.jpg" >
<![endif]-->
    <header>
    	<nav class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            <a href="/studios-near/" class="brand">Yoga Discovery Project</a>
            <h2 href="/studios-near/" style='margin-left:10px;margin-top:0px;float:right;'>  Top Cities</h2>

                <ul style='margin-top:10px;float:right;font-size:150%;'>
                <a href="/studios-near/austin-tx" class="">Austin</a>
                <a href="/studios-near/san-francisco-ca" class="">San Francisco</a>
                <a href="/studios-near/portland-or" class="">Portland</a>
                <a href="/studios-near/boulder-co" class="">Boulder</a>
                <a href="/studios-near/berkeley-ca" class="">Berkeley</a>
                <a href="/studios-near/denver-co" class="">Denver</a>
              </ul>
                <!--0
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="active"><a href="#home"><i class="icon-home icon-white"></i> Home</a></li>
                        <li><a href="#services"><i class="icon-white icon-briefcase"></i> Services</a></li>
                        <li><a href="#projects"><i class="icon-white icon-calendar"></i> Projects</a></li>
                        <li><a href="#about"><i class="icon-white icon-user"></i> About Us</a></li>
                    </ul>
                 </div>
                -->
            </div>
        </div>
    </nav>
    </header>
    <div class="container" id="container">
      	<%= yield %>
<!--        
        <section id="services" class="services row">
        	<div class="span4">
            	<div class="white_box">
                	<img class="pull-left" src="img/24h.png">
                	<h2>Add Yoga Studios</h2>
                    <p>The Yoga Now app is the easiest way to find nearby yoga studios using our database.<br/><br/><br/><br/></p>
                </div>
            </div>
            <div class="span4">
            	<div class="white_box">
                	<img class="pull-left" src="img/qr.png">
                	<h2>Download The App</h2>
                    <p><a href="https://build.phonegap.com/apps/383491/share">The Yoga Now app</a> is the easiest way to find nearby yoga studios using our database.<br/><br/></p>
                </div>
            </div>
            <div class="span4">
            	<div class="white_box">
                	<img class="pull-left" src="img/basket.png">
                	<h2>Get Email Updates</h2>
                    <p>Stay up to date with new yoga studios in your area and exciting yoga events as our community and ecosystem grows.</p>
                </div>
            </div>
        </section>
        <section id="projects" class="projects">
        	<div class="row">
              	<div class="span6">
                    <h2>Feature Projects</h2>
                    <p>In hac habitasse platea dictumst. Duis quis erat eu tellus blandit dignissim et quis ante. Praesent accumsan viverra aliquet. In hac habitasse platea dictumst. Duis quis erat eu tellus blandit dignissim et quis ante. Praesent accumsan viverra aliquet.</p>
                    <ul class="thumbnails">
                      <li class="span3">
                        <div class="thumbnail">
                          <img src="img/260x180.gif" alt="">
                          <div class="caption">
                            <h5>Project Description</h5>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. </p><p>Nullam id dolor id nibh ultricies vehicula ut id elit.In hac habitasse platea dictumst. Duis quis erat eu tellus blandit dignissim et quis ante. Praesent accumsan viverra aliquet. </p>
                            <p>Phasellus tincidunt gravida fermentum. Aliquam egestas porttitor erat id porta. </p>
                             <p><a href="#" class="btn btn-primary">Album</a> <a href="#" class="btn">Read More</a></p>
                          </div>
                        </div>
                      </li>
                      <li class="span3">
                        <div class="thumbnail">
                          <img src="img/260x180.gif" alt="">
                          <div class="caption">
                            <h5>Project Description</h5>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. </p>
                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit.In hac habitasse platea dictumst. Duis quis erat eu tellus blandit dignissim et quis ante. Praesent accumsan viverra aliquet. </p>
                            <p>Phasellus tincidunt gravida fermentum. Aliquam egestas porttitor erat id porta. <br>
</p>
<p><a href="#" class="btn btn-primary">Album</a> <a href="#" class="btn">Read More</a></p>
                          </div>
                        </div>
                      </li>
                    </ul>
                 </div><!--eof span6-->
            	<!--<div class="span6">
                  <h2>Projects Done</h2>
                  <p>In hac habitasse platea dictumst. Duis quis erat eu tellus blandit dignissim et quis ante. Praesent accumsan viverra aliquet. In hac habitasse platea dictumst. Duis quis erat eu tellus blandit dignissim et quis ante. Praesent accumsan viverra aliquet. </p>
                  <ul class="thumbnails">
                    <li class="span4">
                      <a href="#" class="thumbnail">
                        <img src="img/360x268.gif" alt="">
                      </a>
                    </li>
                    <li class="span2">
                      <a href="#" class="thumbnail">
                        <img src="img/160x120.gif" alt="">
                      </a>
                    </li>
                    <li class="span2">
                      <a href="#" class="thumbnail">
                        <img src="img/160x120.gif" alt="">
                      </a>
                    </li>
                    <li class="span2">
                      <a href="#" class="thumbnail">
                        <img src="img/160x120.gif" alt="">
                      </a>
                    </li>
                    <li class="span2">
                      <a href="#" class="thumbnail">
                        <img src="img/160x120.gif" alt="">
                      </a>
                    </li>
                    <li class="span2">
                      <a href="#" class="thumbnail">
                        <img src="img/160x120.gif" alt="">
                      </a>
                    </li>
                  </ul>
                </div>
            </div><!--eof row
        </section>-->
    </div>
    <!--
    <div id="about" class="bg_about">
        <section class="about container">
        	<div class="row">
           	  <div class="span12">
               	<h2>Company History</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies adipiscing tortor, at tempor erat rhoncus nec. Nullam quis sem vitae tortor convallis dignissim at et dui. Nullam in eros nulla, porttitor placerat lorem. Nunc ornare iaculis tincidunt. Quisque vitae tempor nisi. Donec varius nulla id urna rhoncus ut mattis odio scelerisque. In hac habitasse platea dictumst. Ut congue vestibulum facilisis. Cras a suscipit velit. Donec vehicula interdum facilisis.</p>
                    <p>Aliquam et eleifend dui. Sed venenatis iaculis sapien, ut pretium lectus consequat eget. Maecenas quis massa in lorem sollicitudin venenatis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce venenatis nisi augue. In hac habitasse platea dictumst. Duis quis erat eu tellus blandit dignissim et quis ante. Praesent accumsan viverra aliquet. Suspendisse purus lacus, pellentesque sit amet pharetra et, aliquet non orci. Donec dapibus ultricies scelerisque. Vestibulum a hendrerit turpis. Phasellus tincidunt gravida fermentum. Aliquam egestas porttitor erat id porta. Nunc magna risus, imperdiet eget tempus eu, commodo ornare nisl.</p>
                    <p>Quisque porta lorem ac enim consequat laoreet. Vestibulum volutpat, risus vel scelerisque pretium, justo ligula pellentesque risus, in dapibus lacus odio sit amet magna. Sed ut fermentum dui. Ut sit amet quam magna, vel semper leo. Cras faucibus blandit dapibus. Aliquam mattis placerat lectus, sit amet rutrum tortor sagittis quis. Sed turpis erat, auctor vel posuere vitae, rutrum at massa. Proin vulputate quam quis est lacinia placerat. Integer id posuere justo. Maecenas sit amet lorem nisl, eget fermentum dui. Pellentesque feugiat hendrerit pulvinar.</p>
                    <p>Aliquam et eleifend dui. Sed venenatis iaculis sapien, ut pretium lectus consequat eget. Maecenas quis massa in lorem sollicitudin venenatis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce venenatis nisi augue. In hac habitasse platea dictumst. Duis quis erat eu tellus blandit dignissim et quis ante. Praesent accumsan viverra aliquet. Suspendisse purus lacus, pellentesque sit amet pharetra et, aliquet non orci. Donec dapibus ultricies scelerisque. Vestibulum a hendrerit turpis. Phasellus tincidunt gravida fermentum. Aliquam egestas porttitor erat id porta. Nunc magna risus, imperdiet eget tempus eu, commodo ornare nisl.</p>
                </div>
            </div>
        </section>
    </div>-->
    <footer class="container_footer">
    	<div class="container">
          <div class="row">
            <div class="span6">

            </div>
            <div class="span4" style='float:right;'>
              <div class="input-prepend">
                <h3>Newsletter</h3>
                <p>Stay updated subscibe to our newsletter.</p>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                <form action="http://stevenzeiler.us2.list-manage.com/subscribe/post?u=94fef4ac10964fb7d375ca2b0&amp;id=70903f0c6a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                <div class="mc-field-group">
                <span class="add-on"><i class="icon-envelope"></i></span>

                  <input type="email" value="" name="EMAIL" class="required email input-small span2" placeholder="Email" id="mce-EMAIL">
                  <button id="mc-embedded-subscribe" type="submit" class="btn"><i class="icon-check"></i>Subscribe</button>
                </div>

                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>

                  </div> 
                </form>
                </div>

                <!--<div class="social-networking-icons">
                    <a href="http://www.facebook.com/" target="_blank" class="facebook tooltips" rel="tooltip" data-original-title="Facebook">Facebook</a>
                    <a href="http://www.twitter.com/" target="_blank" class="twitter tooltips" rel="tooltip" data-original-title="Twitter">Twitter</a>
                    <a href="http://dribbble.com/" target="_blank" class="dribbble tooltips" rel="tooltip" data-original-title="Dribble">Dribbble</a>
                
                    <a href="http://forrst.com" target="_blank" class="forrst tooltips" rel="tooltip" data-original-title="Forrst">Forrst</a>
    
                    <a href="http://vimeo.com" target="_blank" class="vimeo tooltips" rel="tooltip" data-original-title="Vimeo">Vimeo</a>
    
                    <a href="http://youtube.com" target="_blank" class="youtube tooltips" rel="tooltip" data-original-title="Youtube">Youtube</a>
    
                    <a href="http://linkedin.com" target="_blank" class="linkedin tooltips" rel="tooltip" data-original-title="Linkedin">linkedin</a>
    
                    <a href="http://www.tumblr.com" target="_blank" class="tumblr tooltips" rel="tooltip" data-original-title="Tumblr">Tumblr</a>
    
                </div>-->
              </div>
            </div>
          </div>
    	</div>
    </footer>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script>
	$(function(){
		 $('.tooltips').tooltip();
		  $('.navbar .nav li a').bind('click',function(event){
			var $anchor = $(this);
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1500,'easeInOutExpo');
			event.preventDefault();
		  });
	});
	</script>
  <%= render "layouts/google_analytics" %>
</body>
</html>
