<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="A crowd-sourced catalog of yoga studios">
<title>Yoga Discovery Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<style>

.container { 
  margin-left:auto;
  margin-right:auto;
}

li:active {
  opacity:0.8;
}

</style>

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="home">
   
  <div class="container" id="container">
      <div class="well" style='position:fixed;top:0px;left:0px;right:0px;'>
        <h2><%= yield :header_text %></h2>
      </div>
    	<%= yield %>
  </div>
  
  
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <%= render "layouts/google_analytics" %>
</body>
</html>
